html, body{
    height: 100%;
    margin: 0;
    background-image: url("/workspaces/germanebarbosa-ToDoList/src/img/Fondo.jpg");

}

body{
    padding-top: 100px;
}

h1{
   font-family: 'Courier New', Courier, monospace
}
ul{
    margin: 0;
    padding: 0;
}

ul li{
    border: 1px solid gray;
    list-style: none;
    padding: 5px;
    padding-left: 25px;
    font-family: monospace;
}

input{
    border: none; 
    width: 100%;
    outline: none;
}

.icon{
    display: none;
    margin-top: 4px;
    margin-right: 25px;
    color: darkred;
}

.element:hover .icon{
    display: inline-block;
}

.footer{
    padding-left: 15px;
    color: grey;
    font-size:smaller;
    border: none;
}

.icon:hover{
    color: red;
}