body{
    margin-top: 100px;
    background-image: url(/workspaces/germanebarbosa-ToDoList/src/img/Fondo.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-attachment: scroll;
    background-position: center center;
}

h1{
   font-family: 'Courier New', Courier, monospace
}
u{
    margin: 0;
    padding: 0;
}
ul li{
    border: 1px solid gray;
    list-style: none;
    padding: 5px;
    padding-left: 25px;
    font-family: monospace;
}

input{
    border: none; 
    width: 100%;
    outline: none;
}

i{
    margin-top: 4px;
    margin-right: 25px;
    color: darkred;
}